{% extends "blog/base.html" %}
{% block content %}
    <h1>About BioBlogs and MalariaCellsClassifier</h1>
    <p>
        Welcome to BioBlogs and MalariaCellsClassifier, where we blend cutting-edge technology with biological research to combat malaria, sharing knowledge about Healthcare topics through Blogs and promote education in the field of biology. Our platform offers a range of features designed to empower users to contribute to our mission and engage with like-minded individuals.
    </p>
    <h2>Features</h2>
    <ul>
        <li><strong>Blog Management:</strong> Write, read, and delete blogs covering various topics related to biology, malaria, AI, and more.</li>
        <li><strong>Profile Creation:</strong> Create personalized profiles to tailor your experience and connect with others in the community.</li>
        <li><strong>Authentication System:</strong> Secure login and registration system to access exclusive features and protect user data.</li>
        <li><strong>Group Formation:</strong> Form communities and collaborate with others who share your interests and expertise.</li>
        <li><strong>Malaria Cell Classification:</strong> Utilize our advanced MalariaCellsClassifier to classify cells as infected or not, contributing to research and diagnosis efforts.</li>
        <li><strong>Explainable AI Visualization:</strong> Gain insights into the decision-making process of our AI models through interactive heatmaps, enhancing transparency and understanding.</li>
    </ul>
    <h2>Mission Statement</h2>
    <p>
        Our mission at BioBlogs and MalariaCellsClassifier is to leverage technology and community collaboration to advance scientific understanding, combat malaria, and promote education in biology. We strive to provide a platform where users can learn, share knowledge, and make a positive impact in the fight against disease.
    </p>
    <h2>Call to Action</h2>
    <p>
        Join our community today to start exploring the world of biology, contributing to research efforts, and connecting with fellow enthusiasts. Register for an account, explore our features, and be a part of our mission to make a difference.
    </p>
    <h2>Contact Information</h2>
    <p>
        For any questions, feedback, or support inquiries, please reach out to us at [contact@email.com]. We're here to help!
    </p>
{% endblock content %}
